Checks: 'cppcoreguidelines-*,modernize-*,readability-*,bugprone-*,performance-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: 'file'
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
