BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Right
ReferenceAlignment: Left

NamespaceIndentation: All
AccessModifierOffset: -4

AlignAfterOpenBracket: Align
AlignOperands: Align
ContinuationIndentWidth: 4

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeIsMainRegex: '$'
IncludeCategories:
  - Regex:    '^<[^/]+>$'          # C++ std / system, no slash: <fstream>
    Priority: 2
  - Regex:    '^<.*/'              # third-party with path: <GLFW/..>, <glm/..>
    Priority: 3
  - Regex:    '^".*"'              # project headers: "Renderer.h"
    Priority: 4
