Checks: 'cppcoreguidelines-*,modernize-*,bugprone-*,performance-*',-cppcoreguidelines-special-member-functions'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: 'file'
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'